.add-wrapper {
  min-height: 100vh;
  background: linear-gradient(135deg, red, #f81c53, #dc52ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
  font-family: "Poppins", sans-serif;
}

.add-title {
  font-size: 2rem;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 25px;
}

.add-form {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.12);
  padding: 35px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}
option{
    color: #2b2a2a;
}
.add-input {
  width: 100%;
  margin-left: auto;
  padding: 12px;
  margin-top: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.25);
  font-size: 1rem;
  color: #fff;
}

.add-input::placeholder {
  color: #eee;
}

.add-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border-radius: 10px;
  background: #00f7ff;
  color: #000;
  border: none;
  font-size: 1.05rem;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.3);
}
