.navbar {
  
  padding: 21px 25px;;
  backdrop-filter: blur(8px);
  position: sticky;
  background-color: black;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  font-weight: 800;
  font-style: oblique;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.nav-item {
  text-decoration: none;
  color: #e8e8e8;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.nav-item:hover,
.nav-item.active {
  background: cadetblue;
  color: #000;
}

.login-btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  transition: 0.3s;
}

.login-btn:hover {
  opacity: 0.85;
}


@media (max-width: 600px) {
  .nav-links {
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo {
    font-size: 1.2rem;
  }
}
