/* Wrapper */
.register-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-family: "Poppins", sans-serif;
      justify-content: start;
      height: 70vh;
      background-color: #000;
}

/* Form Card */
.register-form {
  width: 100%;
  max-width: 420px;
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(10px);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  text-align: center;
  border: 1.5px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/* Title */
.register-title {
  margin-bottom: 25px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}

/* Inputs */
.register-input {
  width: 100%;
  padding: 14px;
  margin-top: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.25);
  color: #fff;
  font-size: 1rem;
}
.register-input::placeholder {
  color: #e6e6e6;
}

/* Button */
.register-btn {
  width: 100%;
  margin-top: 22px;
  padding: 14px;
  font-weight: 800;
  border-radius: 10px;
  border: none;
  background: #00ff8f;
  color: #000;
  font-size: 1.1rem;
  width: 106%;
  font-weight: 700;
  cursor: pointer;
  transition: 0.25s;
}

/* Hover */
.register-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.3);
}

/* Footer text */
.register-footer {
  margin-top: 18px;
  color: #e8e8e8;
  font-size: 0.95rem;
  width: 100%;
}

/* Link */
.register-link {
  color: #00ffe1;
  font-weight: 600;
  margin-left: 5px;
  text-decoration: none;
}
.register-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .register-form {
    padding: 25px;
  }
  .register-title {
    font-size: 1.6rem;
  }
}
