/* Page Wrapper */
.auth-wrapper {
  background: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* Title Styling */
.auth-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 0px 3px 10px rgba(0,0,0,0.25);
}



/* Subtitle Text */
.auth-subtitle {
  font-size: 1.1rem;
  margin-top: 12px;
  color: #e8e8e8;
}

/* Button Group */
.auth-btn-group {
  display: flex;
  gap: 20px;
  justify-content: start; /* ensure perfect centering */
  margin-top: 25px;
  align-items: start;
}

/* Buttons */
.auth-btn {
  padding: 12px 35px;
  width: 160px; /* 🔥 Added this line */
  text-align: center;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 0.5px;
  border: none;
  display: inline-block;
}
/* Login button */
.login-btn {
  background: white;
  color: #000;
  font-weight: 800;
}

/* Register button */
.register-btn {
  background: white;
  font-weight: 800;
  color: #000;
}

/* Hover Effects */
.auth-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0px 6px 18px rgba(0,0,0,0.3);
}

/* Image Styling */
.auth-img {
  width: 200px;
  margin-top: 35px;
  filter: drop-shadow(0px 5px 10px rgba(0,0,0,0.3));
}

/* Responsive */
@media (max-width: 500px) {
  .auth-wrapper {
    padding: 20px;
  }

  .auth-btn-group {
    flex-direction: column;
    width: 100%;
  }

  .auth-btn {
    width: 100%;
  }

  .auth-title {
    font-size: 2rem;
  }

  .auth-img {
    width: 160px;
  }
}

.cursor {
  animation: blink 1s infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.right-wrapper{
  text-align: start;
    padding-left: 30px;
}